# Byte-compiled / cache files
__pycache__/
*.py[cod]
*.pyo

# Logs
*.log

# Virtual environment
.venv/
env/

# VS Code settings
.vscode/

# Docker
*.env
docker-compose.override.yml

# System files
.DS_Store
Thumbs.db
